AspNetDeploy.DeploymentServices.WCFSatellite/Service References/SatelliteServiceReference/DeploymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeploymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDeploymentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8091/AspNetDeploySatellite/Metadata?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8091/AspNetDeploySatellite/Metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8091/AspNetDeploySatellite/Metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SatelliteService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeploymentService_IsReady_InputMessage">
    <wsdl:part name="parameters" element="tns:IsReady" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_IsReady_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsReadyResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_BeginPublication_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginPublication" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_BeginPublication_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginPublicationResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_ExecuteNextOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNextOperation" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_ExecuteNextOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNextOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_Complete_InputMessage">
    <wsdl:part name="parameters" element="tns:Complete" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_Complete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_Rollback_InputMessage">
    <wsdl:part name="parameters" element="tns:Rollback" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_Rollback_OutputMessage">
    <wsdl:part name="parameters" element="tns:RollbackResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_UploadPackageBuffer_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPackageBuffer" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_UploadPackageBuffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPackageBufferResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_ResetPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPackage" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_ResetPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_DeployWebSite_InputMessage">
    <wsdl:part name="parameters" element="tns:DeployWebSite" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_DeployWebSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeployWebSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_ProcessConfigFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessConfigFile" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_ProcessConfigFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessConfigFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_RunPowerShellScript_InputMessage">
    <wsdl:part name="parameters" element="tns:RunPowerShellScript" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_RunPowerShellScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunPowerShellScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_CopyFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyFiles" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_CopyFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_UpdateHostsFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHostsFile" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_UpdateHostsFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHostsFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_RunSQLScript_InputMessage">
    <wsdl:part name="parameters" element="tns:RunSQLScript" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_RunSQLScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunSQLScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_ApplyDacpac_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyDacpac" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_ApplyDacpac_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyDacpacResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_GetLastException_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastException" />
  </wsdl:message>
  <wsdl:message name="IDeploymentService_GetLastException_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastExceptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeploymentService">
    <wsdl:operation name="IsReady">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/IsReady" message="tns:IDeploymentService_IsReady_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/IsReadyResponse" message="tns:IDeploymentService_IsReady_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginPublication">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/BeginPublication" message="tns:IDeploymentService_BeginPublication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/BeginPublicationResponse" message="tns:IDeploymentService_BeginPublication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNextOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/ExecuteNextOperation" message="tns:IDeploymentService_ExecuteNextOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/ExecuteNextOperationResponse" message="tns:IDeploymentService_ExecuteNextOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/Complete" message="tns:IDeploymentService_Complete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/CompleteResponse" message="tns:IDeploymentService_Complete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rollback">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/Rollback" message="tns:IDeploymentService_Rollback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/RollbackResponse" message="tns:IDeploymentService_Rollback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPackageBuffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/UploadPackageBuffer" message="tns:IDeploymentService_UploadPackageBuffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/UploadPackageBufferResponse" message="tns:IDeploymentService_UploadPackageBuffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/ResetPackage" message="tns:IDeploymentService_ResetPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/ResetPackageResponse" message="tns:IDeploymentService_ResetPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeployWebSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/DeployWebSite" message="tns:IDeploymentService_DeployWebSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/DeployWebSiteResponse" message="tns:IDeploymentService_DeployWebSite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessConfigFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/ProcessConfigFile" message="tns:IDeploymentService_ProcessConfigFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/ProcessConfigFileResponse" message="tns:IDeploymentService_ProcessConfigFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunPowerShellScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/RunPowerShellScript" message="tns:IDeploymentService_RunPowerShellScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/RunPowerShellScriptResponse" message="tns:IDeploymentService_RunPowerShellScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/CopyFiles" message="tns:IDeploymentService_CopyFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/CopyFilesResponse" message="tns:IDeploymentService_CopyFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHostsFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/UpdateHostsFile" message="tns:IDeploymentService_UpdateHostsFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/UpdateHostsFileResponse" message="tns:IDeploymentService_UpdateHostsFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunSQLScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/RunSQLScript" message="tns:IDeploymentService_RunSQLScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/RunSQLScriptResponse" message="tns:IDeploymentService_RunSQLScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/GetVersion" message="tns:IDeploymentService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/GetVersionResponse" message="tns:IDeploymentService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyDacpac">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/ApplyDacpac" message="tns:IDeploymentService_ApplyDacpac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/ApplyDacpacResponse" message="tns:IDeploymentService_ApplyDacpac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastException">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentService/GetLastException" message="tns:IDeploymentService_GetLastException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentService/GetLastExceptionResponse" message="tns:IDeploymentService_GetLastException_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDeploymentService" type="tns:IDeploymentService">
    <wsp:PolicyReference URI="#WSHttpBinding_IDeploymentService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsReady">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/IsReady" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginPublication">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/BeginPublication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNextOperation">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/ExecuteNextOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/Complete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rollback">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/Rollback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPackageBuffer">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/UploadPackageBuffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPackage">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/ResetPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeployWebSite">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/DeployWebSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessConfigFile">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/ProcessConfigFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunPowerShellScript">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/RunPowerShellScript" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFiles">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/CopyFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHostsFile">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/UpdateHostsFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSQLScript">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/RunSQLScript" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyDacpac">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/ApplyDacpac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastException">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentService/GetLastException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeploymentService">
    <wsdl:port name="WSHttpBinding_IDeploymentService" binding="tns:WSHttpBinding_IDeploymentService">
      <soap12:address location="http://localhost:8090/AspNetDeploySatellite/DeploymentService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8090/AspNetDeploySatellite/DeploymentService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>