AspNetDeploy.DeploymentServices.WCFSatellite/Service References/DeploymentServiceReference/DeploymentServiceMetadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SatelliteService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SatelliteService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemblyQualifiedTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionData" nillable="true" type="tns:ArrayOfExceptionDataInfo" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:ExceptionInfo" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionInfo" nillable="true" type="tns:ExceptionInfo" />
  <xs:complexType name="ArrayOfExceptionDataInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExceptionDataInfo" nillable="true" type="tns:ExceptionDataInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExceptionDataInfo" nillable="true" type="tns:ArrayOfExceptionDataInfo" />
  <xs:complexType name="ExceptionDataInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsProperty" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionDataInfo" nillable="true" type="tns:ExceptionDataInfo" />
</xs:schema>